{% extends 'base.html' %} {% block content %}
<div class="detail__img">
  <img src="{{champion.img}}" alt="{{champion.name}}" />
</div>
  <h1 class="title">{{champion.name}}</h1>
</div>
<div class="detail__container">
  <div class="buttons">
    <a href="{% url 'character_update' champion.pk %}" class="button is-info">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
    </a>
    <a href="{% url 'character_delete' champion.pk %}" class="button is-danger">
      <span class="icon">
        <i class="fas fa-trash-alt"></i>
      </span>
      
    </a>
    <form class="mb-5" action="{% url 'ability_create' champion.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
          <div class="control">
            <input
              class="input"
              type="text"
              name="skill1"
              placeholder="Ability"
              required
            />
          </div>
          
          <div class="control">
            <input class="button is-primary" type="submit" value="Add Ability" />
          </div>
        </div>
      </form>
    <div class="detail__ability">
        <h3 class="title is-3">Ability</h3>
    
        {% for ability in champion.abilities.all %}
        <div class="ability-description">
          
          <span><b>Ultimate: {{ability.ultimate}}</b></span>
          <br>
          <span><b>Skill 1: {{ability.skill1}}</b></span>
          <br>
          <span><b>Skill 2: {{ability.skill2}}</b></span>
          <br>
          <span>{{ability.health}} Base Health</span>
        </div>
            {% empty %}
        <article class="message">
          <div class="message-header">
            <p>No Abilities available</p>
          </div>
        </article>
    
        {% endfor %}
  </div>
  <div class="detail__about">
    <h4 class="title is-4">About</h4>
    <p>{{champion.bio}}</p>
  </div>
</div>

{% endblock %}